/*=============================
/////// Responsive Css ///////
=============================*/


/*---- Desktop big Screeen ----*/

@media only screen and (max-width: 1680px) {
	.container-style {
		padding: 0 180px;
	}
	.theme-p-left {
		padding-left: 180px !important;
	}
	.theme-p-right {
		padding-right: 180px !important;
	}
	.man {
		width: 370px;
		right: 80px;
		bottom: -7px;
	}
	.offer-list {
		padding: 60px 180px;
	}
	.faq-1 {
		padding: 0 180px;
	}
	p {
		font-size: 24px;
		margin-bottom: 15px;
		line-height: 1.6;
	}
	p span {
		font-size: 24px;
		font-weight: 400;
	}
	.features .all-feature li {
		font-size: 24px;
	}
	.features .all-feature li i {
		font-size: 24px;
	}
	.hero-text h2 {
		font-size: 52px;
	}
	.hero-text h2 span {
		font-size: 52px;
	}
	.permanent-solution h3 {
		font-size: 42px;
		width: 750px;
	}
	.permanent-solution h3 span {
		font-size: 42px;
	}
	.hero-text h2 {
		font-size: 52px;
	}
	.hero-text h2 span {
		font-size: 52px;
	}
	.news-one .newspost .title h2 {
		font-size: 52px;
	}
	.proven h2 {
		font-size: 52px;
	}
	.skald h2 {
		font-size: 52px;
		padding: 40px 200px;
	}
	.fat-burners h2 {
		font-size: 52px;
	}
	.limited-time-offer h2 {
		font-size: 52px;
	}
	.losing-weight h2 {
		font-size: 52px;
	}
	.losing-weight h2 span {
		font-size: 52px;
	}
	.order-system h2 {
		font-size: 52px;
	}
	.packages h2 {
		font-size: 46px;
	}
	.news-one .newspost .title h4 {
		font-size: 25px;
	}
	.skald-single h2 {
		font-size: 40px;
	}
	.skald-single h2 span {
		font-size: 40px;
	}
	.skald-single h2 i {
		font-size: 40px;
	}
	.quality-delivery h2 {
		font-size: 46px;
	}
	.quality-delivery h2 span {
		font-size: 46px;
	}
	.packages .packages-1 h2 {
		font-size: 44px;
	}
	.packages .packages-1 h2 b {
		font-size: 44px;
	}
}


@media only screen and (max-width: 1440px) {
	.container-style {
		padding: 0 140px;
	}
	.theme-p-left {
		padding-left: 140px !important;
	}
	.theme-p-right {
		padding-right: 140px !important;
	}
	.man {
		right: 10px;
		bottom: -7px;
	}
	.offer-list {
		padding: 60px 140px;
	}
	.faq-1 {
		padding: 0 140px;
	}
	p {
		font-size: 24px;
		margin-bottom: 15px;
		line-height: 1.6;
	}
	p span {
		font-size: 24px;
		font-weight: 400;
	}
	.hero-text h2 {
		font-size: 42px;
	}
	.hero-text h2 span {
		font-size: 42px;
	}
	.permanent-solution .second i {
		right: 300px;
	}
	.permanent-solution .first i {
		right: 375px;
	}
	.pill-details h2 {
		font-size: 40px;
	}
	.hero-text h2 {
		font-size: 52px;
	}
	.hero-text h2 span {
		font-size: 52px;
	}
	.permanent-solution h3 {
		font-size: 42px;
		width: 750px;
	}
	.permanent-solution h3 span {
		font-size: 42px;
	}
	.hero-text h2 {
		font-size: 46px;
	}
	.hero-text h2 span {
		font-size: 46px;
	}
	.news-one .newspost .title h2 {
		font-size: 46px;
	}
	.proven h2 {
		font-size: 46px;
	}
	.skald h2 {
		font-size: 46px;
		padding: 40px 200px;
	}
	.fat-burners h2 {
		font-size: 46px;
	}
	.limited-time-offer h2 {
		font-size: 46px;
	}
	.losing-weight h2 {
		font-size: 46px;
	}
	.losing-weight h2 span {
		font-size: 46px;
	}
	.order-today h2 {
		font-size: 46px;
	}
	.order-system h2 {
		font-size: 46px;
	}
	.packages .packages-1 h2 {
		font-size: 44px;
	}
	.packages .packages-1 h2 b {
		font-size: 44px;
	}
}

@media only screen and (max-width: 1366px) {
	.container-style {
		padding: 0 100px;
	}
	.theme-p-left {
		padding-left: 100px !important;
	}
	.theme-p-right {
		padding-right: 100px !important;
	}
	p {
		font-size: 20px;
		font-weight: 400;
		line-height: 1.6;
	}
	p b {
		font-size: 20px;
	}
	p span {
		font-size: 20px;
		font-weight: 400;
	}
	.hero-text h2 {
		font-size: 46px;
	}
	.hero-text h2 span {
		font-size: 46px;
	}
	.permanent-solution h3 {
		font-size: 28px;
		padding: 20px 0;
		width: 700px;
	}
	.permanent-solution h3 span {
		font-size: 28px;
	}
	.permanent-solution .first i {
		color: #fff;
		font-size: 254px;
		position: absolute;
		top: -55px;
		right: 443px;
	}
	.permanent-solution .second i {
		color: #fff;
		font-size: 254px;
		position: absolute;
		top: -55px;
		right: 350px;
	}
	.man {
		width: 250px;
		right: 10px;
		bottom: 0;
	}
	.features .all-feature li {
		font-size: 18px;
		margin-bottom: 20px;
	}
	.features .all-feature li .arrow i {
		font-size: 18px;
	}
	.pill-details h2 {
		font-size: 30px;
		color: #961214;
		margin-top: 40px;
		font-family: arial;
		text-transform: capitalize;
	}
	.pill-details h3 {
		font-size: 21px;
	}
	.pill-details h3::before {
		width: 35px;
		top: 48%;
		right: calc(50% + 245px);
	}
	.pill-details h3::after {
		width: 35px;
		top: 48%;
		left: calc(50% + 245px);
	}
	.losing-weight h2 {
		font-size: 30px;
	}
	.losing-weight h2 span {
		font-size: 30px;
		color: #fff584;
		font-weight: 800;
	}
	.losing-weight .losing-para {
		margin-left: 350px;
	}
	.news-one {
		margin: 30px 0;
	}
	.news-one .newspost .title h2 {
		font-size: 46px;
	}
	.news-one .newspost .title h4 {
		font-size: 22px;
	}
	.proven h2 {
		font-size: 46px;
	}
	.fat-burners h2 {
		color: #fff;
		text-align: center;
		padding: 15px 0;
		text-transform: capitalize;
		font-size: 35px;
		font-weight: 900;
	}
	.reason .post-1 h2 {
		font-size: 18px;
	}
	.reason .post-1 p {
		padding: 0;
		text-align: left;
		margin-top: 15px;
		font-size: 18px;
		line-height: 1.6;
	}
	.skald h2 {
		font-size: 46px;
		padding: 40px 180px;
	}
	.product .product-details .red-arrow {
		top: 65px;
		right: 180px;
	}
	.fit-couple-img {
		position: absolute;
		top: -36px;
		z-index: -1;
		padding-left: 60px;
	}
	.skald-single h2 {
		font-size: 30px;
		text-transform: capitalize;
		margin-bottom: 30px;
	}
	.skald-single h2 span {
		font-size: 30px;
		color: #9a282c;
	}
	.skald-single h2 i {
		font-size: 30px;
		color: #9a282c;
		margin-right: 10px;
	}
	.result h2 {
		font-size: 40px;
		padding: 28px;
		text-align: center;
		color: #fff;
		margin-bottom: 0;
		font-weight: 900;
	}
	.featured-story h2 {
		color: #fff;
		font-size: 32px;
		text-transform: uppercase;
		margin-bottom: 50px;
	}
	.featured-story h2 span {
		color: #fff08a;
		font-size: 32px;
	}
	.story-review h4 {
		color: #fff;
		margin-bottom: 5px;
		font-size: 22px;
	}
	.story-review .reveiw-stars span {
		font-size: 18px;
		color: #faeb87;
	}
	.story-review .reveiw-stars span i {
		font-size: 16px;
	}
	.story-review h5 {
		color: #b7b7b7;
		font-size: 14px;
		margin-top: 20px;
	}
	.review-1 .reveiw-stars {
		color: #fff08a;
		font-size: 16px;
		float: right;
	}
	.review-1 .reveiw-stars i {
		font-size: 14px;
	}
	.review-slider h2 {
		font-size: 32px;
	}
	.review-slider h2 span {
		font-size: 32px;
	}
	.review-slider h2::before {
		content: "";
		height: 3px;
		width: 800px;
		background: #b4c9a1;
		position: absolute;
		top: 47%;
		left: calc(50% + 195px);
	}
	.review-slider h2::after {
		content: "";
		height: 3px;
		width: 800px;
		background: #b4c9a1;
		position: absolute;
		top: 47%;
		right: calc(50% + 195px);
	}
	.review-slider .slider .stars i {
		font-size: 20px;
	}
	.review-slider .slider p {
		font-size: 18px;
	}
	.review-slider .slider .identity {
		color: #fff08a;
		font-size: 14px;
	}
	.skald-history .behind h2 {
		font-size: 32px;
		text-align: center;
		padding: 30px;
		text-transform: uppercase;
	}
	.skald-history .behind h2 span {
		font-size: 32px;
		color: #9a282c;
	}
	.moneyback h2 {
		font-size: 32px;
		text-align: center;
		padding: 30px;
		text-transform: uppercase;
		color: #699242;
	}
	.moneyback h2 span {
		font-size: 32px;
		color: #3a89da;
	}
	.order-today h2 {
		font-size: 32px;
	}
	.promote-img {
		height: 500px;
		margin-bottom: 50px;
	}
	.offers h2 {
		font-size: 32px;
	}
	.offers h2::before {
		content: "";
		height: 30px;
		width: 800px;
		background: #000;
		clip-path: polygon(0px 0px, 783px 0, 100% 100%, 0% 100%);
		position: absolute;
		right: calc(50% + 265px);
		top: 5px;
	}
	.offers h2::after {
		content: "";
		height: 30px;
		width: 800px;
		background: #000;
		clip-path: polygon(0px 0px, 783px 0, 100% 100%, 0% 100%);
		position: absolute;
		left: calc(50% + 265px);
		top: 5px;
		transform: rotate(180deg);
	}
	.offers span {
		position: absolute;
		left: 50%;
		transform: translate(-50%);
		top: 5px;
	}
	.offers span::before {
		content: "";
		height: 30px;
		width: 35px;
		background: #9a282c;
		clip-path: polygon(0 0, 50% 0, 100% 100%, 50% 100%);
		position: absolute;
		right: calc(50% + 240px);
	}
	.offers span::after {
		content: "";
		height: 30px;
		width: 35px;
		background: #9a282c;
		clip-path: polygon(0 0, 50% 0, 100% 100%, 50% 100%);
		position: absolute;
		left: calc(50% + 240px);
	}
	.offers h2 b {
		font-size: 32px;
	}
	.offer-list {
		padding: 40px 100px;
	}
	.order-system h2 {
		font-size: 32px;
		text-align: center;
		padding: 30px;
		text-transform: uppercase;
		color: #fff;
	}
	.quality-delivery h2 {
		font-size: 32px;
	}
	.quality-delivery h2 span {
		font-size: 32px;
		color: #9a282c;
	}
	.dont-miss-today {
		padding: 50px 100px;
		border-width: 1px 0;
		border-color: #ddd;
		border-style: solid;
		overflow: hidden;
		margin-bottom: 40px;
	}
	.dont-miss-today img {
		width: 120px;
		float: left;
		margin-right: 20px;
	}
	.dont-miss-today ul li {
		font-size: 20px;
		margin-bottom: 5px;
	}
	.dont-miss-today ul li b {
		font-size: 20px;
	}
	.limited-time-offer h2 {
		font-size: 40px;
	}
	.packages h2 {
		font-size: 32px;
		margin: 40px 10px;
	}
	.packages .packages-1 h2 {
		font-size: 32px;
	}
	.packages .packages-1 h2 b {
		font-size: 32px;
		font-weight: bold;
		color: #c4c4c4;
		text-transform: uppercase;
		text-align: center;
	}
	.packages .packages-1 .packages-details h5 {
		color: #fff;
		font-size: 18px;
	}
	.packages .package-3 .best-value {
		width: 210px;
		position: absolute;
		left: 150px;
		top: -44px;
	}
	.packages .package-2 .most-popular {
		width: 210px;
		position: absolute;
		left: 150px;
		top: -44px;
	}
	.packages .packages-1 .add-to-cart {
		padding: 35px;
	}
	.packages .package-3 .add-to-cart {
		padding: 15px;
		padding-bottom: 38.4px;
	}
	.packages .package-2 .add-to-cart {
		padding: 15px;
		padding-bottom: 38.4px;
	}
	.packages .packages-1 .add-to-cart h2 {
		font-size: 28px;
	}
	.packages .package-2 .add-to-cart h3 {
		color: #bfbfbf;
		font-size: 20px;
		text-transform: uppercase;
		padding-bottom: 5px;
	}
	.packages .packages-1 .add-to-cart button {
		font-size: 20px;
	}
	.packages .packages-1::before {
		content: "";
		width: 0;
		height: 0;
		border-bottom: 210px solid #fff;
		border-left: 100px solid transparent;
		position: absolute;
		top: -15px;
		right: 0;
		z-index: 2;
	}
	.packages .packages-1::after {
		content: "";
		width: 0;
		height: 0;
		border-top: 210px solid #fff;
		border-right: 100px solid transparent;
		position: absolute;
		top: -15px;
		left: 0;
		z-index: 2;
	}
	.packages .packages-1 span::after {
		left: calc(100% - 70px);
		z-index: 5;
		border-bottom: 184.6px solid #9a282c;
		border-left: 91px solid transparent;
	}
	.packages .packages-1 span::before {
		right: calc(100% + -70px);
		z-index: 5;
		border-top: 184.6px solid #9a282c;
		border-right: 91px solid transparent;
	}
	.faq .faq-1 {
		margin: 0 100px;
		padding: 30px;
		border-top: 1px dotted #bfbfbf;
	}
	.footer p {
		font-size: 12px;
		margin-bottom: 30px;
	}
	.footer .copyright h2 {
		font-size: 28px;
		font-weight: 900;
		text-transform: uppercase;
		padding: 10px;
	}
	.footer .copyright a {
		font-size: 20px;
	}
	.faq .faq-1 h4 {
		font-size: 22px;
		word-spacing: 3px;
	}
	.permanent-solution h3 {
		width: 620px;
	}
	.permanent-solution .second i {
		right: 320px;
	}
	.permanent-solution .first i {
		right: 410px;
	}
	.losing-weight .losing-para {
		margin-left: 0;
	}
	.news-one .newspost .title h2 {
		font-size: 36px;
	}
	.news-one .newspost .title h4 {
		font-size: 18px;
	}
	.proven h2 {
		font-size: 36px;
	}

}

/*---- Tablets Screen ----*/

@media only screen and (max-width: 1024px) {
	.container-style {
		padding: 0 80px;
	}
	.theme-p-left {
		padding-left: 80px !important;
	}
	.theme-p-right {
		padding-right: 80px !important;
	}
	.man {
		bottom: 0;
	}
	.overflow-v {
		overflow: hidden;
	}
	.seal img {
		width: 168px;
		margin: 15px;
		margin-left: 0;
	}
	.offer-list {
		padding: 60px 80px;
	}
	.faq-1 {
		padding: 0 80px;
	}
	.hero-text h2 {
		font-size: 36px;
	}
	.hero-text h2 span {
		font-size: 36px;
	}
	.skald h2 {
		font-size: 36px;
		padding: 40px 80px;
	}
	.product .product-details .red-arrow {
		top: 96px;
		right: 80px;
	}
	.product .product-details .skald-logo {
		padding-top: 0;
	}
	.fit-couple {
		margin-bottom: 0;
	}
	.skald-single {
		margin: 0;
	}
	.ml-30-percent {
		margin-left: 20%;
	}
	.ml-15-percent {
		margin-left: 10%;
	}
	.review-slider .slider p {
		padding: 0 50px;
	}
	.ads-1 {
		padding: 20px 0;
	}
	.promote-img {
		height: 400px;
		margin-bottom: 30px;
	}
	.offer-list {
		padding: 40px 80px;
	}
	.quality-delivery h2 {
		padding: 30px 180px;
	}
	.dont-miss-today img {
		margin-bottom: 30px;
	}
	.limited-time-offer h2 {
		font-size: 36px;
		padding: 30px 100px;
	}
	.packages .packages-1 span::after {
		left: calc(100% - 70px);
		z-index: 5;
		border-bottom: 178.417px solid #9a282c;
		border-left: 87px solid transparent;
	}
	.packages .packages-1 span::before {
		right: calc(100% + -70px);
		z-index: 5;
		border-top: 178.417px solid #9a282c;
		border-right: 87px solid transparent;
	}
	.packages .packages-1 h2 {
		font-size: 22px;
	}
	.packages .packages-1 h2 b {
		font-size: 22px;
	}
	.packages .package-3 .packages-details {
		padding-left: 120px;
	}
	.packages .packages-1 .packages-details h5 {
		color: #fff;
		font-size: 15px;
	}
	.packages .packages-1 .add-to-cart h2 {
		font-size: 22px;
	}
	.packages .package-2 .add-to-cart h3 {
		font-size: 18px;
	}
	.packages .package-3 .add-to-cart h3 {
		font-size: 18px;
	}
	.faq h2 {
		padding: 30px 10px;
		font-size: 30px;
	}
	.footer .copyright h2 {
		font-size: 22px;
	}
}

@media only screen and (max-width: 992px) {
	.skald-single h2 {
		font-size: 24px;
	}
	.skald-single h2 span {
		font-size: 24px;
	}
	.featured-story h2 {
		font-size: 24px;
	}
	.featured-story h2 span {
		font-size: 24px;
	}
}

@media only screen and (max-width: 991px) {
	.reason .post-1 {
		padding: 20px 10px;
	}
	.post-1.post_2.br-1 {
		border-right: 0;
	}
	.reason .post_1, .reason .post_2  {
		padding: 0 10px;
		border-bottom: 1px solid #ddd;
	}

}

@media only screen and (max-width: 800px) {
	.dont-miss-today img {
		margin-bottom: 70px;
	}
	.quality-delivery h2 {
		padding: 30px 80px;
	}
	.review-1 .review-img {
		margin-bottom: 20px;
	}
	.success-story {
		padding: 30px 0;
	}
	.skald-single h2 {
		font-size: 22px;
	}
	.skald-single h2  span{
		font-size: 22px;
	}
	.ml-15-percent {
		margin-left: 0;
	}
	.ml-30-percent {
		margin-left: 0;
	}
	.skald-single .skald-post-details {
		padding-left: 10px;
	}
	.skald h2 {
		font-size: 30px;
		padding: 40px 0;
	}
	.reason p {
		padding: 40px 0;
		line-height: 1.6;
	}
	.fat-burners h2 {
		font-size: 30px;
	}
	.proven h2 {
		font-size: 28px;
	}
	.news-one .newspost .title h2 {
		font-size: 30px;
	}
	.pill-details h2 {
		font-size: 24px;
	}
	.pill-details h3 {
		font-size: 18px;
	}
	.pill-details h3::after {
		width: 35px;
		top: 40%;
		left: calc(50% + 210px);
	}
	.pill-details h3::before {
		width: 35px;
		top: 40%;
		right: calc(50% + 210px);
	}
	.man {
		width: 200px;
		right: 0px;
		bottom: 0;
	}
	.permanent-solution .second i {
		display: none;
	}
	.permanent-solution .first i {
		display: none;
	}
	.permanent-solution h3 {
		width: 500px;
	}
	.hero-text h2 {
		font-size: 28px;
	}
	.hero-text h2 span {
		font-size: 28px;
	}
}

@media only screen and (max-width: 768px) {
	.container-style {
		padding: 0 60px;
	}
	.theme-p-left {
		padding-left: 60px !important;
	}
	.theme-p-right {
		padding-right: 60px !important;
	}
	.offer-list {
		padding: 60px 60px;
	}
	.faq-1 {
		padding: 0 60px;
	}
	p {
		font-size: 20px;
		margin-bottom: 15px;
		line-height: 1.6;
	}
	p span {
		font-size: 20px;
		font-weight: 400;
	}
	.features .about h2 {
		font-size: 22px;
	}
	.features .all-feature h2 {
		font-size: 22px;
	}
	.features .all-feature li {
		font-size: 16px;
	}
	.features .all-feature li i {
		font-size: 16px;
	}
	.pills-img {
		position: absolute;
		top: 20px;
		left: -3px;
		z-index: 2;
		padding-right: 18px;
	}
	.dont-miss-today ul li {
		margin-bottom: 15px;
	}
	.dont-miss-today img {
		margin-bottom: 86px;
	}
	.packages .package-2 .bottle-img {
		width: 160px;
		margin-left: 14px;
		margin-top: -14px;
	}
	.packages .package-3 .bottle-img {
		width: 160px;
		margin-left: 16px;
		margin-top: 0px;
	}
	.packages .packages-1 .bottle-img {
		width: 80px;
		margin-left: 48px;
		margin-top: -4px;
	}
	.packages .package-3 .packages-details {
		padding-left: 74px;
	}
	.packages .package-2 .most-popular {
		width: 200px;
		left: 60px;
		top: -43px;
	}
	.packages .package-3 .best-value {
		width: 200px;
		left: 60px;
		top: -43px;
	}
}

/*---- Medium device ----*/

@media only screen and (max-width: 600px) {
	.container-style {
		padding: 0 40px;
	}
	.theme-p-left {
		padding-left: 40px !important;
	}
	.theme-p-right {
		padding-right: 40px !important;
	}
	.man {
		width: 150px;
		right: -25px;
		bottom: 0;
	}
	.offer-list {
		padding: 30px 40px;
	}
	.faq-1 {
		padding: 0 40px;
	}
	p {
		font-size: 20px;
		margin-bottom: 15px;
		line-height: 1.6;
	}
	p span {
		font-size: 20px;
		font-weight: 400;
	}
	.features .about h2 {
		font-size: 22px;
	}
	.features .all-feature h2 {
		font-size: 22px;
	}
	.features .all-feature li {
		font-size: 16px;
	}
	.features .all-feature li i {
		font-size: 16px;
	}
	.pills-img {
		position: relative;
		top: 20px;
		left: 0px;
		z-index: 2;
		width: 260px;
		margin: 0 auto;
	}
	.fit-couple .skald-benefits {
		margin-top: 30px;
	}
	.fit-couple-img {
		position: relative;
		top: 6px;
		z-index: -1;
		padding-left: 0;
		margin-bottom: 30px;
	}
	.ml {
		margin-left: 0;
	}
	.skald-single .skald-post-details {
		padding-left: 0;
		margin-top: 20px;
	}
	.skald-single-img {
		margin-bottom: 30px;
	}
	.featured-story {
		margin-left: 0;
		position: relative;
		margin-top: 30px;
	}
	.review-1 .review-img {
		margin-bottom: 0;
	}
	.review-slider {
		padding: 40px 0;
	}
	.review-slider .slider p {
		padding: 0;
	}
	.review-slider .slider p {
		padding: 10px 30px;
	}
	.owl-nav {
		position: relative;
		top: -80px;
		width: 100%;
	}
	.skald-creator .skald-creator-img {
		width: 100%;
		margin-bottom: 30px;
	}
	.ads-post-img {
		margin-bottom: 30px;
	}
	.promote-img {
		height: 300px;
	}
	.quality-delivery h2 {
		padding: 30px 40px;
	}
	.theme-p-right {
		padding-right: 40px !important;
		padding-left: 40px;
	}
	.dont-miss-today {
		padding: 50px 40px;
	}
	.dont-miss-today img {
		display: none;
	}
	.limited-time-offer h2 {
		font-size: 36px;
		padding: 30px 40px;
	}
	.packages .container-style {
		padding: 0;
	}
	.packages .packages-1::before {
		display: none;
	}
	.packages .packages-1::after {
		display: none;
	}
	.col-sm-2 {
		-webkit-box-flex: 0;
		-ms-flex: 100%;
		flex: 100%;
		max-width: 100%;
	}
	.packages .packages-1 .bottle-img {
		width: 100px;
		margin: 0 auto;
	}
	.col-sm-5 {
		-webkit-box-flex: 0;
		-ms-flex: 100%;
		flex: 100%;
		max-width: 100%;
	}
	.packages .packages-1 {
		margin-bottom: 30px;
	}
	.packages .packages-1 .packages-details {
		margin: 0;
		padding: 10px 0;
		border-right: 2px solid #929292;
	}
	.packages .packages-1 .add-to-cart {
		padding: 15px;
	}
	.packages .package-2 .packages-details {
		padding-left: 0;
	}
	.packages .package-2 .bottle-img {
		width: 160px !important;
		margin-top: 40px !important;
	}
	.packages .package-3 .bottle-img {
		width: 160px !important;
		margin-top: 40px !important;
	}
	.packages .package-2 .most-popular {
		width: 200px;
		left: 50%;
		top: -250px;
		transform: translateX(-50%);
	}
	.packages .package-3 .best-value {
		width: 200px;
		left: 50%;
		top: -230px;
		transform: translateX(-50%);
	}
	.faq .faq-1 {
		margin: 0 40px;
		padding: 30px 0;
		border-top: 1px dotted #bfbfbf;
	}
	.footer .footer-logo {
		border-right: 0;
		padding: 5px 40px;
	}
	.losing-weight {
		background: #3b89db url(img/man-bg-abs.jpg);
		overflow: hidden;
		background-size: cover;
		padding: 70px 40px;
	}
	.theme-p-right {
		padding-right: 0 !important;
		padding-left: 0;
	}
	.news-two .newspost {
		padding: 0 40px;
	}
	.product .product-details {
		padding-left: 40px;
	}
	.product .product-details .skald-logo {
		padding: 40px;
		padding-left: 0;
	}
	.review-slider .slider {
		padding: 40px 0;
		padding-bottom: 0;
	}
	.pl-50 {
		padding-left: 40px;
	}
	.ads-post p {
		padding-right: 40px;
	}
	.delivery-details.theme-p-right {
		padding-left: 40px !important;
		padding-right: 40px !important;
	}
	.review-1 {
		padding: 20px 0;
		overflow: hidden;
	}
}

/*---- Small Mobile Device ----*/
@media only screen and (max-width: 480px) {
	.permanent-solution h3 {
		width: 100%;
	}
	.man {
		bottom: 0;
		width: 120px;
		right: -22px;
	}
	.media-logo ul li img {
		height: 30px;
		width: 80%;
	}
	.seal {
		text-align: center;
	}
	.limited-time-offer h2 {
		font-size: 36px;
		padding: 30px 10px;
	}
}
@media only screen and (max-width: 320px) {
	.container-style {
		padding: 0 20px;
	}
	.theme-p-left {
		padding-left: 20px !important;
	}
	.theme-p-right {
		padding-right: 20px !important;
	}
	.offer-list {
		padding: 30px 20px;
	}
	.faq .faq-1 {
		margin: 0 20px;
		padding: 30px 0;
	}
	p {
		font-size: 18px;
		margin-bottom: 15px;
		line-height: 1.6;
	}
	p span {
		font-size: 18px;
		font-weight: 400;
	}
	.man {
		bottom: 0;
		width: 135px;
	}
	.media-logo {
		text-align: left;
	}
	.seal {
		text-align: left;
	}
	.features .all-feature {
		padding: 30px 20px;
	}
	.losing-weight {
		padding: 30px 20px;
	}
	.news-two .newspost {
		padding: 0 20px;
	}
	.product .product-details {
		padding-left: 20px;
	}
	.skald-benefits.theme-p-left {
		padding-right: 20px;
	}
	.skald-history .behind h2 {
		padding: 30px 20px;
	}
	.moneyback h2 {
		padding: 30px 20px;
	}
	.ads-post p {
		padding-right: 20px;
	}
	.pl-50 {
		padding-left: 20px;
	}
	.ads-post.theme-p-right {
		padding-right: 0 !important;
	}
	.promote-img {
		height: 230px;
		background-position: center;
	}
	.offers h2 {
		font-size: 26px;
		padding: 0 20px;
	}
	.offers h2 b {
		font-size: 26px;
	}
	.order-system h2 {
		font-size: 26px;
		padding: 30px 20px;
	}
	.quality-delivery h2 {
		padding: 30px 20px;
	}
	.quality-details.theme-p-left {
		padding-right: 20px;
	}
	.delivery-details.theme-p-right {
		padding-left: 20px !important;
		padding-right: 20px !important;
	}
	.dont-miss-today {
		padding: 30px 20px;
	}
	.limited-time-offer h2 {
		font-size: 25px;
		padding: 30px 10px;
	}
	.packages h2 {
		font-size: 24px;
		margin: 30px 10px;
	}
	.faq .faq-1 h4 {
		font-size: 18px;
		word-spacing: 3px;
	}
}

/* Image Alignment */

.ads-post-img-1-responsive {
	width: 100%;
	display: none;
}
.quality-img-responsive {
	width: 100%;
	display: none;
}

@media only screen and (max-width: 767px) {
	.ads-post-img-1-responsive {
		display: block;
		margin-bottom: 30px;
	}
	.quality-img-responsive {
		display: block;
		margin-bottom: 30px;
	}
	.ads-post-img-1 {
		display: none;
	}
	.quality-img {
		display: none;
	}
}